/* Styling container for the entire book list */
.container {
    padding: 30px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 12px;
    background-color: rgb(255, 228, 196);
    box-shadow: 0 4px 8px rgba(227, 13, 13, 0.2);
    max-width: 800px;
    margin: auto;
}

/* Styling for h1 */
h1 {
    font-size: 36px;
    color: darkgreen; 
    text-align: center; 
    margin-bottom: 20px;
}
