<!-- Mat Design Navigation Bar -->
<mat-toolbar class="mat-toolbar" color="primary">
  <div class="button-container">
    <button mat-button class="mat-button" routerLink="/books" routerLinkActive="active">Books List</button>
    <button mat-button class="mat-button" routerLink="/modify-list-item" routerLinkActive="active">Modify Book</button>
  </div>
</mat-toolbar>

<div class="container">
  <!-- Display the title -->
  <h1>{{ date | date: 'short'}}</h1>
  <h1>{{ title }}</h1>
  
  <!-- Router outlet to display routed components -->
  <router-outlet></router-outlet>
</div>
